html{
  font-size:18px;
}
*{
  margin:0;
  box-sizing: border-box;
  font-family: poppins;
}
body{
  height:100vh;
  background-color:white;
}

.global-container{
  padding:10px;
  background-color: white;
}

.head-section{
  height:8%;
  background-color: white;
  width:80%;
  margin:auto;
  padding-top:30px;

  display: flex;
}
.left-section{
  flex:0.7;
}

.middle-section{
  flex:1.5;
  padding-top:12px;
  padding-left:12px;
  display:flex;
  align-items: flex-end;
  gap:20px;
}
.item{
  color:hsl(0, 0%, 75%);
  font-size:0.8rem;
  transition: 0.5s;
}
.item:hover{
  cursor: pointer;
  color:black;
}

.right-section{
  margin-left:20px;
  flex:1;
}
.header-btn{
  width:100px;
  height:40px;
  border:none;
  font-size: 1rem;
  border-radius: 50px;

}
.hamburger{
  width:50px;
  display:none;
}
.sign-up,
.start-btn{
  background-color: hsl(180, 66%, 49%);
  color:white;
}
.img-section{
  max-width:100vw;
  display: none;
}

.slogan-section{
  margin-left: 10%;
  height: calc(100vh - 77px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("illustration-working.svg") no-repeat;
  background-size: 50% 75%;
  background-position: bottom 50% right -15px;
}
.quote-content{
  max-width: 50%;
}
.quote-header{
  font-weight: bold;
  font-size:3rem;
  line-height: 1.2;
}
.content-text{
  color:hsl(0, 0%, 75%);
  font-size:1rem;
}
.start-btn{
  margin-top:30px;
  width:150px;
}
.search-bar-section{
  height:15%;
  width:75%;
  border-radius:8px;
  border:none;
  background:url("bg-shorten-desktop.svg") no-repeat;
  background-color: hsl(258, 46%, 22%);
  position: absolute;
  left:50%;
  transform: translate(-50%, -50%);

  display: flex;
  gap: 20px;
  padding:20px;

}
.input-container{
  flex:1;
}
.input-link{
  padding-left:20px;
  font-size: 0.8rem;
  border:1px;
  border-radius: 5px;
  outline:none;
  width:100%;
  height:50px;

}
.shorten-btn{
  background-color: hsl(180, 66%, 49%);
  color:white;
  border:none;
  border-radius:5px;
  height:50px;
  width:30%;
}
.advanced-statistics{
  background-color: hsl(0, 19%, 91%);
}
.link-list-container{
  padding-top:50px;
  width:70%;
  margin:auto;
}
.error{
color:rgb(247, 46, 46);
position:absolute;
top:77%;
left:7%;
font-size:0.7rem;
}
.stat-head-section{
  width:80%;
  margin:auto;
  padding-top:15%;
  text-align: center;
}
.stat-text{
  width:50%;
  margin: auto;
  text-align: center;
  color:hsl(0, 2%, 62%);
  font-weight: bold;
  font-size:0.8rem;
  margin-top:10px;
}
.stat-body{
  height:calc(125vh - 270px);
  display:flex;
  justify-content: center;
  align-items: center;
  gap:30px;
  position:relative;

}
.stat-body::before{
  content:'';
  position: absolute;
  border:5px solid aqua;
  width:50%;
}


.stat-container{
  background-color: white;
  width:30%;
  padding:20px;
  padding-top:50px;
  position:relative;
}
.brand-reg{
  transform: translateY(-10%);
}
.detailed-rec{
  transform: translateY(10%);
}
.customize{
  transform: translateY(20%);
}
.heading{
  font-size:1.5rem;
  font-weight: bold;
}
.body-text{
  font-size: 0.8rem;
  font-weight: 500;
  color:hsl(0, 2%, 62%);
  padding-top:5px;
  line-height: 2;

}

.icon{
  background-color:hsl(255, 11%, 22%);
  width:80px;
  height:80px;
  border-radius: 50%;

  position:absolute;
  top:-40px;

}
.icon-img{
  display: block;
  margin:auto;
  position:relative;
  top:15px;
}
.detailed-rec .icon-img{
  top:18px;

}
.footer{
  height:60vh;
}
.purple-footer{
  background:url("bg-boost-desktop.svg") no-repeat;
  background-color: hsl(260, 41%, 11%);
  padding:4%;
}
.boost-text{
  color:white;
  text-align: center;
}
.footer-btn{
  width: 200px;
  height: 49px;
  font-size: 1.2rem;
  border-radius: 100px;
  border: none;

  display: block;
  margin: 2% auto;
}
.black-footer{
  padding:20px;
  background-color: rgb(1, 0, 2);
  display: flex;
  justify-content: space-evenly;
  color:white;
}
.logo-container{
  flex:1;
  display: flex;
  justify-content: center;
}
.logo{
  flex:1;
  color:white;
  font-size: 30px;
  padding:10px 50px;

}
.list-box{
  font-size:0.6rem;
  flex:1;
  display: flex;

}
.card{
flex:1;

}
.head{
  font-weight: bold;
  margin:15px auto;
}
.list-items{
  color:rgb(202, 201, 201);
  list-style: none;
  padding: 0;
}
.padding-bottom{
  padding-bottom:5px;
}

.logo-section{
  flex:1;
  display: flex;

}
.black-footer .icon-img{
  margin:0 20px;
  width:25px;
  height:25px;
}

button:hover{
  cursor: pointer;
  background-color:  hsl(180, 70%, 74%);

}
.hover:hover{
  cursor: pointer;
  color:  hsl(180, 66%, 49%);
}
.bg-hover:hover{
  cursor: pointer;
  background-color:  hsl(180, 66%, 49%);
}

/*********************** js variables******************/
.linkList{
  width:100%;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  display:flex;
  justify-content: space-between;

}

.linkList li ,
.shorternLink
{
  list-style: none;
  flex: 3;
  display: flex;
  font-size: 0.8rem;
  padding: 10px;
}
.linkList li{
  word-break: break-word;
}
.linkList button{
  width:15%;
  height:35px;
  margin:10px;
  font-size: 0.8rem;
  background-color: hsl(180, 66%, 49%);
  border-radius:10px;
  border:none;
  cursor: pointer;
  color:white
}
.copyLink:hover{
  color: hsl(180, 66%, 49%);
  border:2px solid hsl(180, 66%, 49%);
  background-color:white;
}
 .linkList .deleteTask{
  background-color: rgb(247, 46, 46);
  width:8%;

}
.deleteTask:hover{
  color:rgb(247, 46, 46);
  border:2px solid rgb(247, 46, 46);
  background-color: white;
}

.shorternLink a{
  word-break: break-word;
  align-self: center;
}


/***********************media query******************/
@media(max-width:900px){
  .left-section,
  .middle-section,
  .right-section{
    flex:none;
  }
  .heading{
    font-size: 1rem;
  }
  .body-text{
    font-size: 0.6rem;
  }

  .black-footer{
    flex-direction: column;
    justify-content: center;
  }
  .logo{
    text-align: center;
  }
  .list-box{
    font-size:1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .logo-section{
    justify-content: center;
  }

}

@media(max-width:850px){
  .heading{
    font-size:1.1rem;
  }
  .body-text{
    font-size: 0.7rem;
  }
}


@media(max-width:750px)
{
  .head-section{
    justify-content: space-between;
  }
  .middle-section{
    display: none;
  }
  .sign-up,
  .login-btn{
    display: none;
  }
  .hamburger{
    display: block;
  }
  .slogan-section{
    background-size: 52% 75%;
    background-position: bottom 50% right -10px;
  }
  .quote-header{
    font-size: 2.3rem;
  }
  .content-text{
    font-size: 0.8rem;
  }
  .stat-head-section{
    padding-bottom: 50px;
  }
  .stat-body{
    height:150vh;
    padding:30px;
    flex-direction: column;
    gap:80px;
  }
  .stat-container{
    width:50%;
  }
  .stat-body::before{
    transform: rotate(90deg);
  }
  .brand-reg,
  .detailed-rec,
  .customize{
    transform:none;
  }
  .icon{
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

@media(max-width:700px){
  .slogan-section{
    background: none;
    margin: 0;
  }
  .img-section{
    display: block;
  }
  .mobile-img{
    width:100%;
  }

  .quote-content{
    max-width:none;
    text-align: center;
  }
  .quote-content{
    margin: 0;
  }
  .quote-header{
    font-size: 3rem;
  }
  .content-text{
    font-size: 1.3rem;
  }
  .search-bar-section{
    width:75%;
    height: 30%;
    padding:20px;
    display: block;
  }
  .input-container{
    position: relative;
  }

  .input-link{
    width:100%;
    height:50px;
    font-size: 0.6rem;
    margin:0;


  }
  .shorten-btn{
    width:100%;
    height:50px;
    font-size: 1rem;
    margin-top:20px;
  }
  .error{
    margin: 10px -15px;
  }
  .link-list-container{
    padding-top:100px;
  }

  .linkList{
    display:block;
    padding-bottom: 8px;
  }
  .linkList .deleteTask{
    display: block;
    width: 35%;
    margin: auto;
    
  }

  .stat-head-section{
    padding-bottom: 30px;
    gap:50px;
  }
  .stat-text{
    width:unset;
  }
  .stat-body{
    height:150vh;
    padding:10px;
  }
  .stat-body::before{
    width:80%
  }
 
}

@media(max-width:600px){
  .quote-content{
    margin: 0;
  }
  .stat-body{
    height:180vh;
    gap:65px;
  }
  .stat-body::before{
    width: 100%;
  }
  .input-link{
    font-size: 0.7rem;
  }
}

@media(max-width:500px){
  .quote-content{
    margin: 0;
  }
  .quote-header{
    font-size:2rem;
  }
  .content-text{
    font-size:1rem;
  }
  .stat-head{
    font-size: 1.7rem;
  }
  .stat-body{
    height: 180vh;
    gap:70px;

  }
  .stat-container{
    width: 75%;
  }
  .stat-body::before{
    width:120%;
  }
}

@media(max-width:450){
  .quote-content{
    margin: 0;
  }
  .quote-header{
    font-size:2rem;
  }
  .content-text{
    font-size:1rem;
  }
  .input-link{
    padding-left:10px;
    font-size: 0.4rem;
  }
  .stat-head{
    font-size: 1.4rem;
  }
  .stat-container{
    width:80%;
  }
}

@media(max-width:350px){
  .header-logo{
    width:90px;
  }
  .hamburger{
    width:40px;
  }
  .input-link{
    font-size: 0.7rem;
    padding-left:12px;
  }
  .stat-head{
    font-size:1.2rem;
  }
  .stat-text{
    font-size:0.6rem;
  }
  .stat-container{
    width:85%;
  }
}
